// ==========================================================================
// Placeholders
// ==========================================================================

%margin-padding-zero {
	margin: 0;
	padding: 0;
}

%none-text-decoration {
	text-decoration: none;
}

%images-dogs-size {
	margin-bottom: 15px;
    height: 170px;
    width: 170px;
}