// ==========================================================================
// Images dogs styles
// ==========================================================================

.corgi-red {
	@extend %images-dogs-size;
	.st0{fill: $color__dog--corgi-red;}
	.st1{fill: $color__dog--eyebrow;}
	.st2{fill: $color__dog--eyes;}
	.st3{fill: $color__dog--corgi-fawn;}
}

.corgi-fawn {
	@extend %images-dogs-size;
	.st0{fill: $color__dog--corgi-fawn;}
	.st1{fill: $color__dog--eyebrow;}
	.st2{fill: $color__dog--eyes;}
	.st3{fill: $color__dog--eyebrow-light;}
}

.corgi-sable {
	@extend %images-dogs-size;
	.st0{fill: $color__dog--corgi-sable;}
	.st1{fill: $color__dog--eyebrow;}
	.st2{fill: $color__dog--eyes;}
	.st3{fill: $color__dog--corgi-red;}
}

.corgi-blacktan {
	@extend %images-dogs-size;
	.st0{fill: $color__dog--corgi-red;}
	.st1{fill: $color__dog--corgi-black;}
	.st2{fill: $color__dog--eyebrow;}
	.st3{fill: $color__dog--eyes;}
}