// ==========================================================================
// Links Styles
// ==========================================================================

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  &:hover {
  	color: #111;
  }
}