// ==========================================================================
// Paragraphs Styles
// ==========================================================================

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}